@{
    ViewBag.Title = "About The Columbus Community Bill of Rights";
}
<section class="page-header page-header-xlg parallax parallax-3"
         style="background-image:url('@Url.Content("~/Content/assets/images/15-min.jpg")')">
    <div class="overlay dark-4"></div>
    <div class="container">
        <h1>ABOUT COLUMBUS COMMUNITY BILL OF RIGHTS</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li><a href="@Url.Action("Index","OurWork")">Our Work</a></li>
            <li class="active">About</li>
        </ol>
    </div>
</section>
<section>
	<div class="container">
		<h2>The Campaign For The Columbus Community Bill Of Rights</h2>
		<p>
			<strong>
				Columbus Residents are working to ensure safe drinking water, clean air, and safe soil in the City of Columbus.
			</strong>
		</p>
		<p>
			<strong>
				There are 13 injection wells in the Columbus Area water supply, where radioactive and toxic liquid waste from unconventional natural gas extraction (shale gas, hydrofracking), is being injected into the earth, with great potential for migration into our water supply.
			</strong>
		</p>
		<p>
			<strong>
				Within the City of Columbus, on the banks of the Alum Creek, the Ohio EPA has permitted potentially highly radioactive shale gas solid waste to be processed, and "beneficially" used, without any required radioactive testing.
			</strong>
		</p>
		<p>
			<strong>
				In Ohio, State agencies have complete jurisdiction over Oil and Gas permits to Drill and Dispose the liquid and solid hazardous Waste.  At the same time, Columbus residents have No say in what the State permits in their own backyard.
			</strong>
		</p>
		<p>
			<strong>
				The Columbus Community Bill of Rights is  change to the legislative language of the City of Columbus.  This rights-based language will give Columbus residents Local Control over the extraction of hydrocarbons; and protect the unalienable rights for Pure Water, Clean Air, and Safe Soil, free from "toxins, carcinogens, radioactive substances, and other substances known to cause harm to health", in the City of Columbus.
			</strong>
		</p>
		<p>
			<a href="@Url.Action("BillOfRights","Resources")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>READ BILL OF RIGHTS</a>
		</p>
		<div class="callout alert alert-border alert-warning mt-60 mb-60">
			<div class=" row">
				<div class="col-12">
					<p>
						We began our third initiative in the city of Columbus on June 26th, 2017.  Volunteers are needed, as we educate and mobilize Columbus city residents to vote YES for our Columbus Community Bill of Rights ordinance on the local ballot on November 6, 2018.
					</p>
					<br />
					<p>
						We hold meetings most Mondays, and urge people to join us and participate in this thrust to keep our community safe from these hidden poisons.  We always include the next meeting info in our newsletter, as well as on this website's 'Helpout' page.
					</p>
					<br />
					<p>
						Please visit our <a href="@Url.Action("Index","HelpOut")">Helpout</a> page for updates on our current process.
					</p>
					<br />
					<p>
						<strong>
							It is imperative that our city government understands that oil & gas liquid waste "brine" has been injected
							in our watershed's source water protection area since the 1960's.  Before the first injection wells were
							permitted in Morrow County, the toxic liquid waste was being buried in holes in fields.  According to local
							geologist Dr. Julie Weatherington-Rice, the region has had this problem with risk of tainted underground
							source water ever since.
						</strong>
					</p>
					<br />
					<p>
						<strong>
							Our city must also be vigilant that deregulated radioactive solid waste from shale wells may be dumped inside
							of our city, to possibly harm landfill workers and bide the centuries to create buried pockets of radon gas
							as well as growing more radium.  These facilities are not designed to accept radioactive materials, and no
							other industry is allowed to disposed of them in this way.
						</strong>
					</p>
					<br />
					<p>
						<a href="@Url.Action("Index","News")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>READ PRESS RELEASE</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
@*<section class="alternate">
        <div class="container">
            <h2>
                We The People 2.0
            </h2>
            <div class="row">
                <div class="col-md-12 col-sm-12 mb-30">
                    <div>
                        <p>
                            <a href="@Url.Action("WeThePeople","OurWork")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>LEARN MORE</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="theme-color">
        <div class="container">
            <h2>
                Ohio Democracy School
            </h2>
            <div class="row">
                <div class="col-md-12 col-sm-12 mb-30">
                    <div>
                        <p>
                            <a href="@Url.Action("OhioDemocracySchool","OurWork")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>LEARN MORE</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
