@{
    ViewBag.Title = "Our Work";
}
<section id="ourWork">
    <div class="container text-center">
        <h1 class="m-0 fs-50 fw-300 wow fadeInUp" data-wow-delay="0.4s">Our Work and Initiatives</h1>
        <p class="lead font-lato fs-30 wow fadeInUp" data-wow-delay="0.7s">We are working hard to ensure safe drinking water, clean air, and safe soil in the City of Columbus.</p>
        <div class="mt-30">
            <a href="@Url.Action("Donate", "HelpOut")" class="btn btn-3d btn-lg btn-green"><i class="glyphicon glyphicon-piggy-bank"></i>DONATE NOW</a>
            <span class="fs-17 hidden-xs-down">&nbsp; AND &nbsp;</span>
            <a href="@Url.Action("Volunteer", "HelpOut")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-user"></i>VOLUNTEER</a>
        </div>
    </div>
</section>
<div class="container mt-20">
    <h2>Overview</h2>
    @Html.Partial("~/Views/OurWork/Shared/_UpstreamVideo.cshtml")
    @Html.Partial("~/Views/OurWork/Shared/_OurWorkOverview.cshtml")
    <p>
        <a href="@Url.Action("About","OurWork")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>LEARN MORE</a>
    </p>
</div>
<section class="alternate">
    <div class="container">
        <h2>
            We The People 2.0
        </h2>
        <div class="row">
            <div class="col-md-12 col-sm-12 mb-30">
                <div>
                    <p>
                        Schedule a documentary showing of We The People 2.0 - The Second American Revolution
                    </p>
                    <p>
                        <a href="@Url.Action("WeThePeople","OurWork")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>LEARN MORE</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="theme-color">
    <div class="container">
        <h2>
            Ohio Democracy School
        </h2>
        <div class="row">
            <div class="col-md-12 col-sm-12 mb-30">
                <div>
                    <p>
                        The Workshop makes clear what roadblocks we face when we try to create the communities we envision. We will explore what prevents us from stopping projects that threaten our community, and why We the People are not the ones making decisions about those things directly impacting us, such as energy production, safeguarding the environment, protecting workers rights, free and fair elections, education, and myriad other decisions that shape and reflect the values of the communities in which we live.
                    </p>
                    <p>
                        <a href="@Url.Action("OhioDemocracySchool","OurWork")" class="btn btn-3d btn-lg btn-white"><i class="glyphicon glyphicon-book"></i>LEARN MORE</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="alternate">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-3">
				<a href="https://celdf.org/" target="_blank">
					<img class="image-fluid" src="~/Content/assets/images/celdf.png" />
				</a>
			</div>
			<div class="col-12 col-md-9 mb-30">
				<h2>
					CELDF - Community Environmental Legal Defense Fund
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 mb-30">
				<div>
					<p>
						CELDF works to establish and protect rights - including worker and environmental rights, and rights of nature.
					</p>
					<p>
						Nearly 200 communities have adopted CELDF-drafted Community Bills of Rights laws that transition them from merely regulating corporate harms to stopping those harms by asserting local, democratic control directly over corporations. These are first-in-the-nation, groundbreaking laws that are strengthening true democracy.
					</p>
					<p>
						<a href="@Url.Action("CELDF","OurWork")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>LEARN MORE</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="theme-color">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6">
				<a href="https://ohcommunityrights.org/" target="_blank" >
					<img src="~/Content/assets/images/Ohio_Community_Rights_400x576.png" class="img-fluid"/>
				</a>
			</div>
			<div class="col-12 col-md-6">
				<h2>
					Ohio Community Rights Network
				</h2>
				<h4 class="mb-30">
					Mission: To establish a network of just communities working to advance, secure and protect both the inalienable rights of all Ohioans to democratic local self-governance, to sustainable food, energy and economic systems, and the rights of nature to exist and flourish throughout Ohio.
				</h4>
				<p>
					<a href="@Url.Action("OhioCommunityRights","OurWork")" class="btn btn-3d btn-lg btn-white"><i class="glyphicon glyphicon-book"></i>LEARN MORE</a>
				</p>
			</div>
		</div>
	</div>
</section>

