<div class="slider fullwidthbanner-container roundedcorners">

    <div class="fullwidthbanner" data-height="600" data-shadow="0" 
         data-navigationStyle="preview2">
        
        <ul class="hide">

            <li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"
                data-title="The Columbus Community Bill of Rights"
                data-thumb="@Url.Content("~/Content/assets/images/mdl-blue-min.jpg")">

                <img src="~/Content/assets/images/_smarty/1x1.png"
                     data-lazyload="@Url.Content("~/Content/assets/images/mdl-blue-min.jpg")" alt="" data-bgfit="cover"
                     data-bgposition="center center" data-bgrepeat="no-repeat" />

                <div class="overlay dark-1"></div>

                <div class="tp-caption customin ltl tp-resizeme large_bold_white"
                     data-x="center"
                     data-y="100"
                     data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-speed="800"
                     data-start="1000"
                     data-easing="easeOutQuad"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power4.easeIn" style="z-index: 10;">
                    <span>THE CAMPAIGN FOR</span>
                </div>

                <div class="tp-caption customin ltl tp-resizeme large_bold_white"
                     data-x="center"
                     data-y="205"
                     data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-speed="800"
                     data-start="1200"
                     data-easing="easeOutQuad"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power4.easeIn" style="z-index: 10; width: 100%; white-space: normal; text-align:center; font-size:75px;">
                    <span>THE COLUMBUS COMMUNITY BILL OF RIGHTS</span>
                </div>

                <div class="tp-caption customin ltl tp-resizeme small_light_white"
                     data-x="center"
                     data-y="350"
                     data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-speed="800"
                     data-start="1400"
                     data-easing="easeOutQuad"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power4.easeIn" style="z-index: 10; width: 100%; max-width: 750px; white-space: normal; text-align:center; font-size:25px;">
                    <span>CLEAN AND SAFE: WATER | AIR | ENVIRONMENT </span>
                </div>

                <div class="tp-caption customin ltl tp-resizeme"
                     data-x="center"
                     data-y="383"
                     data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-speed="800"
                     data-start="1550"
                     data-easing="easeOutQuad"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power4.easeIn" style="z-index: 10;">
                    @*<a href="@Url.Action("Donate","HelpOut")" class="btn btn-green btn-lg">
                        <span>DONATE NOW</span>
                    </a>*@
                </div>

            </li>

            <li data-transition="random" data-slotamount="2"
                data-title="Safe Water For Our Kids"
                data-thumb="@Url.Content("~/Content/assets/images/lightblue-min.jpg")">

                <img src="~/Content/assets/images/_smarty/1x1.png"
                     data-lazyload="@Url.Content("~/Content/assets/images/lightblue-min.jpg")" alt="" data-bgfit="cover"
                     data-bgposition="center center" data-bgrepeat="no-repeat" />

                <div class="overlay dark-1"></div>

                <div class="tp-caption tp-resizeme"
                     data-frames='[{"delay": 500, "speed": 300, "from": "opacity: 0", "to": "opacity: 1"},
                   {"delay": "wait", "speed": 300, "to": "opacity: 0"}]'
                     data-type="image"
                     data-x="center"
                     data-y="center"
                     data-hoffset="0"
                     data-voffset="0"
                     data-width="['auto']"
                     data-height="['auto']">
                <img 
                    src="~/Content/assets/images/_smarty/1x1.png" 
                     data-lazyload="@Url.Content("~/Content/assets/images/CCBOR-01.png")" alt="" height="500">
                </div>

                <div class="tp-caption customin ltl tp-resizeme"
                     data-x="center"
                     data-y="383"
                     data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-speed="800"
                     data-start="1550"
                     data-easing="easeOutQuad"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power4.easeIn" style="z-index: 10;">
                    @*<a href="@Url.Action("Donate","HelpOut")" class="btn btn-green btn-lg">
                        <span>DONATE NOW</span>
                    </a>*@
                </div>

            </li>

            <li data-transition="random" data-slotamount="3" data-masterspeed="1000" data-saveperformance="off"
                data-title="Safe Water For Our Kids"
                data-thumb="@Url.Content("~/Content/assets/images/yellow-min.jpg")">

                <img src="~/Content/assets/images/_smarty/1x1.png"
                     data-lazyload="@Url.Content("~/Content/assets/images/yellow-min.jpg")" alt="" data-bgfit="cover"
                     data-bgposition="center center" data-bgrepeat="no-repeat" />

                <div class="overlay dark-1"></div>

                <div class="tp-caption customin ltl tp-resizeme"
                     data-x="center"
                     data-y="383"
                     data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-speed="800"
                     data-start="1550"
                     data-easing="easeOutQuad"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power4.easeIn" style="z-index: 10;">
                    @*<a href="@Url.Action("Donate","HelpOut")" class="btn btn-green btn-lg">
                        <span>DONATE NOW</span>
                    </a>*@
                </div>

            </li>

            <li data-transition="random" data-slotamount="4" data-masterspeed="1000" data-saveperformance="off"
                data-title="Safe Water For Our Kids"
                data-thumb="@Url.Content("~/Content/assets/images/mdl-green-min.jpg")">

                <img src="~/Content/assets/images/_smarty/1x1.png"
                     data-lazyload="@Url.Content("~/Content/assets/images/mdl-green-min.jpg")" alt="" data-bgfit="cover"
                     data-bgposition="center center" data-bgrepeat="no-repeat" />

                <div class="overlay dark-1"></div>

                <div class="tp-caption customin ltl tp-resizeme"
                     data-x="center"
                     data-y="383"
                     data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-speed="800"
                     data-start="1550"
                     data-easing="easeOutQuad"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power4.easeIn" style="z-index: 10;">
                    @*<a href="@Url.Action("Donate","HelpOut")" class="btn btn-green btn-lg">
                        <span>DONATE NOW</span>
                    </a>*@
                </div>

            </li>

        </ul>
    </div>
</div>