@{
    ViewBag.Title = "Columbus Community Bill of Rights";
}
@section AddToHead{
    <link href="~/Content/assets/plugins/slider.revolution/css/extralayers.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/slider.revolution/css/settings.css" rel="stylesheet" type="text/css" />
}
@Html.Partial("~/Views/Home/_Slider.cshtml")
<section class="alert-info">
	<div>
		<div class="container">
			
			<div class="row">
				<div class="col-12 col-sm-8 col-md-9">
					<h2>
						CCBOR Media Release
					</h2>
					<h4>FOR IMMEDIATE RELEASE: October 11, 2018</h4>
					<p>
						Contact: <br />
						Carolyn Harding, Co-Organizer<br />
						<a href="mailto:columbusbillofrights@gmail.com">columbusbillofrights@gmail.com</a><br />
						<a href="tel:1-614-893-6314">614-893-6314</a>
					</p>
					<p>
						William Lyons, Co-Organizer<br />
						<a href="mailto:info@columbusbillofrights.org">info@columbusbillofrights.org</a><br />
						<a href="tel:1-614-551-6194">614-551-6194</a>
					</p>
					<h4>
						PRESS RELEASE:  SUPREME INJUSTICE - OHIO SUPREME COURT DENIES COLUMBUS VOTERS THE BALLOT TO PROTECT THEIR DRINKING WATER FROM TOXIC FRACK WASTE, DRILLING & INFRASTRUCTURE
					</h4>
				</div>
				<div class="col-12 col-sm-4 col-md-3">
					<img class="float-right img-fluid" src="~/Content/assets/images/columbus-bill-of-rights-logo.png" />
				</div>
				<div class="col-12">
					<p>
						THE PEOPLE’S INITIATIVE CODIFIES THE RIGHT TO CLEAN WATER, AIR, AND SOIL AND PROHIBITS GAS AND OIL EXTRACTION AND RELATED ACTIVITIES
					</p>
					<p>
						<b>Seven</b> Ohio Supreme Court justices deny <b>565,000</b> Columbus Voters the right to vote to protect Columbus Water, Air and Soil from the toxic and radioactive gas & oil extraction & waste industry within the city, thereby risking the public health of over <b>860,000</b> Columbus residents, and over <b>2 million</b> Columbus Metro residents who depend on clean and safe Columbus water.
					</p>
					<p>
						On Friday, October 5, 2018, the Ohio Supreme Court refused to reconsider its blocking of the Columbus Community Bill of Rights (CCBOR) city ordinance from the November, 2018 ballot.  After two rebuttals from our <a href="www.celdf.org" target="_blank">CELDF</a> legal team, the seven justices made their decision in a 5-2 ruling, with no further justification.
					</p>
					<p>
						<b>
							Important Facts about the CCBOR Campaign:
						</b>
					</p>
					<ol>
						<li>The Ohio Constitution, Article 2, gives citizens the right to initiate law and referendum;</li>
						<li>The Ohio Constitution, Article 1, gives citizens the “right to alter, reform or abolish government whenever they deem necessary”;  </li>
						<li>
							The Columbus Community Bill of Rights passed all legal requirements to have this city ordinance placed on the ballot;
							<ul>
								<li>Franklin County Board of Elections (BOE) approved 12,134 valid Columbus voter signatures;</li>
								<li>City of Columbus declared the CCBOR initiative Is legally sufficient;</li>
								<li>Columbus City Council voted unanimously on July 30, 2018 to place the CCBOR on the ballot;</li>
							</ul>
						</li>
						<li>OHIO HB 463, enacted in 2017, gave Ohio law makers an unconstitutional tool to block citizen initiatives that make it all the way through the system to the BOE.  It gives appointed BOE members as well as the Secretary of State, the role of judge and jury to decide whether or not the People’s initiative goes on the ballot, even though Boards of Elections are not part of the judicial branch of government.  This illegitimate law was used in two prior Ohio county BOE lawsuits.  Each were overturned by the Ohio Supreme Court (OHSC), and both initiatives were placed on the ballot;  (Bowling Green and Youngstown)</li>
						<li>Franklin County BOE received a protest against the CCBOR initiative petition, filed on the behalf of Loretta A. Settlemeyer, and later joined by Robert J. Wall, both with possible oil & gas connections.  The BOE rescheduled the hearing TWO times.  It also only informed CCBOR of one of the protesters, and then only after we approached them for any additional information filed against our initiative.  The BOE failed to submit all requested documentation by not informing CCBOR of the additional protester; </li>
						<li>
							On the Friday, August 24 BOE Hearing, the four appointed members of the BOE took a vote before hearing any testimony - from legal council or Columbus Voters.  They voted unanimously to deny the CCBOR’s passage to the Columbus ballot - citing HB 463 as their justification;

						</li>
						<li>CCBOR <a href="https://drive.google.com/file/d/1dSso36wI8vv_2468WVhH5ZGAwtE0EPNp/view?usp=sharing" target="_blank">filed a complaint</a> to the OHSC against the BOE’s decision, on August 28, 2018.  On September 14, 2018, OHSC voted 6-1 to deny CCBOR’s complaint, using a pre-HB 463 decision;</li>
						<li>CCBOR filed a <a href="https://drive.google.com/file/d/1Wg0GzrvT32Sz1p7t35dQY9MomHfXNRyU/view?usp=sharing" target="_blank">Motion of Reconsideration</a> with the OHSC on September 17, 2018, because our objections are based on the constitutionality of HB 463, and the high court can not retreat to a sub constitutional basis to reinforce the validity of the BOE’s decision;</li>
						<li>CCBOR filed a Notice of Additional Authority on Sept. 20, 2018, in support of the Motion for Reconsideration based on the September 19, 2018 decision by the US District Court - Southern District of Ohio.  The judge ruled against the Portage County BOE and the Ohio Secretary of State in their decision to keep two marijuana decriminalization initiatives from the ballot, and placed them on the ballot.</li>
						<li>OHSC denied CCBOR passage onto the Columbus, Ohio November, 2018 ballot on October 5, 2018 and dismissed the people’s arguments without any reason given.</li>
					</ol>

					<p>
						<b>
							This Issue is Still With Us.

							Columbus Residents Need to Know:
						</b>
					</p>
					<ol>
						<li>If you live in the Columbus Metro area, your community buys its water from Columbus, and if you have your own water system, i.e. Westerville, you are still downstream from the Upper Scioto Watershed;</li>
						<li>There are currently 13 Active Frack Waste Injection Wells in the Upper Scioto Watershed, Columbus’ water supply.  The gas & oil industry dumps millions of gallons of radioactive, neurotoxic, endocrine disruptive, carcinogenic Frack Water Waste into them;</li>
						<li>The state gave the Ohio Department of Natural Resources (ODNR) complete jurisdiction over all gas & oil drilling and dumping of wastes via HB 278 in 2004, taking away municipal regulatory rights regarding gas & oil activities;  </li>
						<li>The CCBOR ordinance would have given Columbus citizens the right to prohibit gas & oil extraction, waste dumping, and pipelines in our city and the right to Clean Water, Air and Soil, and the right to protect them.  Without local self-governance, the gas & oil extraction industry continues to have the right to pollute and harm our Community and We, the People have No right to protect our Community from these harms.</li>

					</ol>
					<p>
						“We are outraged by the unjust OHSC ruling, the illegitimate arguments justifying their decision and alarmed that they undermine the people’s right to initiative”, stated Charlotte Owens, a Columbus Metro resident and volunteer.
					</p>
					<p>
						If you are upset by this injustice and want to get involved, please attend the <a href="@Url.Action("Index", "Events")">next CCBOR meeting</a>.

						
					</p>
				</div>
				<div class="col-12 col-md-4">
					@Html.Partial("~/Views/HelpOut/Shared/_PayPalDonate.cshtml")
				</div>

				<div class="col-md-8 col-12">
					<div>
						<h3 class="text-danger">#NotAnotherFlint - Columbus, Ohio - We're All Downstream</h3>
					</div>
					@Html.Partial("~/Views/OurWork/Shared/_UpstreamVideo.cshtml")
				</div>
				<div class="col-12 text-center">
					<a href="@Url.Action("Index", "Events")" rel="nofollow" class="btn btn-default btn-lg mt-30">EVENTS</a>
					<a href="@Url.Action("BillOfRights","Resources")" rel="nofollow" class="btn btn-default btn-lg mt-30">BILL OF RIGHTS</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="alternate">
    <div class="container">
        <h2>
            Our Work
        </h2>
        @Html.Partial("~/Views/OurWork/Shared/_OurWorkOverview.cshtml")
        <p>
            <a href="@Url.Action("Index","OurWork")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>LEARN MORE</a>
        </p>
    </div>
</section>
<section class="theme-color">
    <div class="container">
        <h2>
            Resources
        </h2>
        <p>Learn more about our effort to ensure safe drinking water, clean air, and safe soil in the City of Columbus. </p>
        <p>
            <a href="@Url.Action("Index","Resources")" class="btn btn-3d btn-lg btn-white"><i class="glyphicon glyphicon-book"></i>LEARN MORE</a>
        </p>
    </div>
</section>
<section>
    <div class="container">
        <h2>
            Help Out
        </h2>
        <div class="callout alert alert-border alert-info b-0 mt-60 mb-60">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/assets/images/ccbor-help-out-01.jpg" />
                </div>
                <div class="col-md-8">
                    <div class="mt-10">
                        <p>
                            <strong>
                                JOIN US FOR OUR NEXT MEETING
                            </strong>
                        </p>
                    </div>
                    <div class="mt-10">
                        <p>
                            <strong>
                                We have organizing meetings most every week, on Monday evenings at 7:00pm.
                            </strong>
                        </p>
                    </div>
                    <div class="mt-10">
                        <p>
                            <strong>
                                If interested in attending or for more information, please contact <br />
                                <a href="mailto:info@columbusbillofrights.org">info@columbusbillofrights.org</a>
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <p>
            <a href="@Url.Action("Index","HelpOut")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>LEARN MORE</a>
        </p>
    </div>
</section>
<section class="alternate">
    <div class="container">
        <h2>
            Events
        </h2>
        <p>To learn more about upcoming events, visit our events page where you can sign up for petitioning, sign our petition, and learn more about our issue.</p>
        <p>
            <a href="@Url.Action("Index","Events")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>LEARN MORE</a>
        </p>
    </div>
</section>
@section scripts
{
    <script src="~/Content/assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Scripts/Custom/home.js"></script>
}