@{
    ViewBag.Title = "Columbus Community Bill of Rights";
}
@Html.Partial("~/Views/Home/_Slider.cshtml")
<div class="callout alert alert-info b-0 rad-0 m-0">
    <div class="text-center">
        <h3>Visit our Help Out page to see how you can participate and for info on our next meeting.</h3>
        <p class="font-lato fs-20">
            We truly care about our environemnt.
        </p>
<<<<<<< HEAD
        <a href="@Url.Action("HelpOut", "Donate")" class="btn btn-default btn-lg mt-30">DONATE NOW</a>
=======
        <a href="@Url.Action("Donate","HelpOut")" rel="nofollow" target="_blank" 
           class="btn btn-default btn-lg mt-30">DONATE NOW</a>
>>>>>>> 989ab0143e00318bca956ef5ecf8618ccf05b5ca
    </div>
</div>
<section>
    <div class="container">
        <h2>
            Welcome
        </h2>
        <div class="row">
            <div class="col-md-12 col-sm-12 mb-30">
                <div class="mt-20">
                    <div class="text-center mb-30">
                        <p><strong>The Campaign For</strong></p>
                        <p><strong>The Columbus Community Bill of Rights</strong></p>
                        @Html.Partial("~/Views/OurWork/Shared/_UpstreamVideo.cshtml")
                    </div>
                    <div>
                        <p>
                            We began our latest initiative on Monday, June 26th, 2017 to get our Columbus Community Bill of Rights 
                            ordinance on the local ballot for the November 2018 election.
                        </p>
                        <p>
                            Stay tuned to our newsletter for updates as we continue to engage with city government, and circulate our petitions 
                            to Columbus city voters over the next 12 months.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="alternate">
    <div class="container">
        <h2>
            Our Work
        </h2>
        @Html.Partial("~/Views/OurWork/Shared/_OurWorkOverview.cshtml")
        <p>
            <a href="@Url.Action("Index","OurWork")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>LEARN MORE</a>
        </p>
    </div>
</section>
<section class="theme-color">
    <div class="container">
        <h2>
            Resources
        </h2>
        <p>Learn more about our effort to ensure safe drinking water, clean air, and safe soil in the City of Columbus. </p>
        <p>
            <a href="@Url.Action("Index","Resources")" class="btn btn-3d btn-lg btn-white"><i class="glyphicon glyphicon-book"></i>LEARN MORE</a>
        </p>
    </div>
</section>
<section>
    <div class="container">
        <h2>
            Help Out
        </h2>
        <div class="callout alert alert-border alert-info b-0 mt-60 mb-60">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/assets/images/ccbor-help-out-01.jpg" />
                </div>
                <div class="col-md-8">
                    <div class="mt-10">
                        <p>
                            <strong>
                                JOIN US FOR OUR NEXT MEETING
                            </strong>
                        </p>
                    </div>
                    <div class="mt-10">
                        <p>
                            <strong>
                                We have organizing meetings most every week, on Monday evenings at 7:00pm.
                            </strong>
                        </p>
                    </div>
                    <div class="mt-10">
                        <p>
                            <strong>
                                If interested in attending or for more information, please contact <br />
                                <a href="mailto:ColumbusBillofRights@gmail.com">ColumbusBillofRights@gmail.com</a>
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <p>
        <a href="@Url.Action("Index","HelpOut")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>LEARN MORE</a>
        </p>
    </div>
</section>
<section class="alternate">
    <div class="container">
        <h2>
            Events
        </h2>
        <p>To learn more about upcoming events, visit our events page where you can sign up for petitioning, sign our petition, and learn more about our issue.</p>
        <p>
            <a href="@Url.Action("Index","Events")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>LEARN MORE</a>
        </p>
    </div>
</section>
@*<section class="theme-color">
    <div class="container">
        <h2>
            Blog
        </h2>
    </div>
</section>
<section>
    <div class="container">
        <h2>
            Media
        </h2>
    </div>
</section>*@

