@{
    ViewBag.Title = "Columbus Community Bill of Rights";
}
@section AddToHead{
    <link href="~/Content/assets/plugins/slider.revolution/css/extralayers.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/slider.revolution/css/settings.css" rel="stylesheet" type="text/css" />
}
@Html.Partial("~/Views/Home/_Slider.cshtml")
	<section class="alert-info">
		<div class="text-center">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h3>
							Breaking News: August 28, 2018:  CCBOR files complaint against Franklin County Board of Elections 
						</h3>
					</div>
					<div class="col-12 col-md-4">
						<img class="img-fluid" src="~/Content/assets/images/CCBOR-03.jpg" />
					</div>
					<div class="col-12 col-md-4">
						<img class="img-fluid" src="~/Content/assets/images/BOEBuilding.jpg" />
					</div>
					<div class="col-12 col-md-4">
						<img class="img-fluid" src="~/Content/assets/images/NotAnotherFlint.jpg" />
					</div>
					<div class="col-12">
						<p class="font-lato fs-20 mt-30">
							The Franklin County Board of Elections refused on August 24, 2018 to perform their legal duty to place the Columbus Community Bill of Rights on the ballot for the November 6, 2018 general election, even though more than 12,000 valid signatures were gathered and Columbus City Council had unanimously passed an ordinance instructing the BOE to put the CCBOR on the ballot.
						</p>
						<a href="https://drive.google.com/file/d/1dSso36wI8vv_2468WVhH5ZGAwtE0EPNp/view?usp=sharing" rel="nofollow" target="_blank" class="btn btn-default btn-lg mt-30">READ COMPLAINT</a>
						<a href="@Url.Action("BillOfRights","Resources")" rel="nofollow" class="btn btn-default btn-lg mt-30">READ BILL OF RIGHTS</a>
					</div>
				</div>

			</div>
		</div>
	</section>
	<section class="alert-warning">
		<div class="text-center">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h3>
							Franklin County Board of Elections Denies Residents the Right to Vote
						</h3>
						<h4>August 24, 2018: BOE refuses to place duly qualified Community Bill of Rights citizen initiative on the November ballot</h4>
					</div>
					<div class="col-12 col-md-6">
						<img class="img-fluid" src="~/Content/assets/images/NotAnotherFlint.jpg" />
					</div>
					<div class="col-12 col-md-6">
						<img class="img-fluid" src="~/Content/assets/images/BOESupport.jpg" />
					</div>
					<div class="col-12 mt-30">
						<p>
							The Franklin County Board of Elections effectively stripped 560,000 Columbus citizens of
							their right to vote on a ballot measure entitled Community Bill of Rights for Water, Soil, and Air Protection and to Prohibit Gas and Oil Extraction and Related Activities and Projects Ordinance. The measure was qualified with more than 12,000 signatures. Columbus City Council approved the measure to advance to the ballot on July 30, 2018.  The BOE used HB 463 to justify their rejection a recent piece of legislation that takes direct aim at stopping Community Rights initiatives from advancing to the ballot, and goes against 104 years of precedent that protected citizen initiative from governmental interference.
						</p>
						<a href="@Url.Action("Index","News")" rel="nofollow" class="btn btn-default btn-lg mt-30">READ FULL PRESS RELEASE</a>
						<a href="@Url.Action("BillOfRights","Resources")" rel="nofollow" class="btn btn-default btn-lg mt-30">READ BILL OF RIGHTS</a>
					</div>
				</div>

			</div>
		</div>
	</section>
<section class="alert-info">
	<div class="text-center">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3>
						CCBOR Ordinance Ballot Initiative turned in and certified for 12,134 VALID Columbus Signatures!!!
					</h3>
				</div>
				<div class="col-12 col-md-4">
					<img class="img-fluid" src="~/Content/assets/images/CCBORCityCouncil5.jpg" />
				</div>
				<div class="col-12 col-md-4">
					<img class="img-fluid" src="~/Content/assets/images/CCBOR City Council.jpg" />
				</div>
				<div class="col-12 col-md-4">
					<img class="img-fluid" src="~/Content/assets/images/CCBORCityCouncil6.jpg" />
				</div>
				<div class="col-12">
					<p class="font-lato fs-20 mt-30">
						Only 9,000 were required to put a Citizen-led city ordinance on the November, 2018, Columbus, Ohio Ballot
					</p>
					<p>
						We truly care about our environment.  Please visit our Help Out page to learn how you can help our effort.
					</p>
					<a href="@Url.Action("Volunteer","HelpOut")" rel="nofollow" class="btn btn-default btn-lg mt-30">VOLUNTEER</a>
					<a href="@Url.Action("BillOfRights","Resources")" rel="nofollow" class="btn btn-default btn-lg mt-30">READ BILL OF RIGHTS</a>
				</div>
			</div>

		</div>
		</div>
</section>
<section>
    <div class="container">
		<div class="text-center">
			<h2>
				Welcome to
			</h2>
		</div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="mt-20">
                    <div class="text-center mb-30">
                        <p><strong>The Campaign For</strong></p>
                        <p><strong>The Columbus Community Bill of Rights</strong></p>
                        @Html.Partial("~/Views/OurWork/Shared/_UpstreamVideo.cshtml")
                    </div>
                    <div>
                        <p>
                            We began our latest initiative on Monday, June 26th, 2017 to get our Columbus Community Bill of Rights ordinance on the local ballot for the November 2018 election.
                        </p>
                        <p>
                            Stay tuned for updates as we continue to engage with Columbus citizens and city government, and fight to get our initiative on the 2018 November ballot.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="alternate">
    <div class="container">
        <h2>
            Our Work
        </h2>
        @Html.Partial("~/Views/OurWork/Shared/_OurWorkOverview.cshtml")
        <p>
            <a href="@Url.Action("Index","OurWork")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>LEARN MORE</a>
        </p>
    </div>
</section>
<section class="theme-color">
    <div class="container">
        <h2>
            Resources
        </h2>
        <p>Learn more about our effort to ensure safe drinking water, clean air, and safe soil in the City of Columbus. </p>
        <p>
            <a href="@Url.Action("Index","Resources")" class="btn btn-3d btn-lg btn-white"><i class="glyphicon glyphicon-book"></i>LEARN MORE</a>
        </p>
    </div>
</section>
<section>
    <div class="container">
        <h2>
            Help Out
        </h2>
        <div class="callout alert alert-border alert-info b-0 mt-60 mb-60">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/assets/images/ccbor-help-out-01.jpg" />
                </div>
                <div class="col-md-8">
                    <div class="mt-10">
                        <p>
                            <strong>
                                JOIN US FOR OUR NEXT MEETING
                            </strong>
                        </p>
                    </div>
                    <div class="mt-10">
                        <p>
                            <strong>
                                We have organizing meetings most every week, on Monday evenings at 7:00pm.
                            </strong>
                        </p>
                    </div>
                    <div class="mt-10">
                        <p>
                            <strong>
                                If interested in attending or for more information, please contact <br />
                                <a href="mailto:info@columbusbillofrights.org">info@columbusbillofrights.org</a>
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <p>
            <a href="@Url.Action("Index","HelpOut")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>LEARN MORE</a>
        </p>
    </div>
</section>
<section class="alternate">
    <div class="container">
        <h2>
            Events
        </h2>
        <p>To learn more about upcoming events, visit our events page where you can sign up for petitioning, sign our petition, and learn more about our issue.</p>
        <p>
            <a href="@Url.Action("Index","Events")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>LEARN MORE</a>
        </p>
    </div>
</section>
@section scripts
{
    <script src="~/Content/assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Scripts/Custom/home.js"></script>
}