@{
    ViewBag.Title = "Columbus Community Bill of Rights";
}
@section AddToHead{
    <link href="~/Content/assets/plugins/slider.revolution/css/extralayers.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/slider.revolution/css/settings.css" rel="stylesheet" type="text/css" />
}
@Html.Partial("~/Views/Home/_Slider.cshtml")
<section class="alert-info">
	<div>
		<div class="container">
			<div class="row text-center">
				<div class="col-12">
					<h1>
						<b>WHAT'S HAPPENING NOW?</b>
					</h1>
					<h3 class="text-danger">
						The Campaign Continues!
					</h3>
					<h4>
						Columbus Community Bill of Rights meets <u>all</u> city and state requirements to get on the ballot
					</h4>
					<ul>
						<h4>
							<li>
								August 24, 2018: Franklin County Board of Elections denies the CCBOR
							</li>
						</h4>
						<h4>
							<li>
								August 28, 2018: CCBOR files <a href="https://drive.google.com/file/d/1dSso36wI8vv_2468WVhH5ZGAwtE0EPNp/view?usp=sharing" target="_blank">complaint</a> with the Ohio Supreme Court
							</li>
						</h4>
						<h4>
							<li>
								September 14, 2018: Ohio Supreme Court rejects CCBOR's complaint
							</li>
						</h4>
						<h4>
							<li>
								September 17, 2018: CCBOR files a <a href="https://drive.google.com/file/d/1Wg0GzrvT32Sz1p7t35dQY9MomHfXNRyU/view?usp=sharing" target="_blank">motion to reconsider</a> with the Ohio Supreme Court
							</li>
						</h4>
					</ul>
					<h4>
						LET THE PEOPLE VOTE! LET THE PEOPLE VOTE! LET THE PEOPLE VOTE!
					</h4>
					<h3 class="text-danger">
						The Campaign Continues! 
					</h3>
					<h3>
						#NotAnotherFlint
					</h3>
				</div>
			</div>
			<div class="row">

				<div class="col-12 col-md-8">
					<h1>
						<b>THE DETAILS</b>
					</h1>
					<p class="font-lato fs-20 mt-30">
						<b>
							On September 14th, the Ohio Supreme Court rejected the peoples’ arguments that the Franklin County Board of Elections (BOE) had violated the rights of the people to legislate directly by initiative and sided with the BOE to keep the Columbus Community Bill of Rights off the November ballot. CCBOR filed a motion to reconsider the decision on September 17th.  On August 24, the Board of Elections had refused to place the Columbus Community Bill of Rights on the ballot for the November 6, 2018 general election, even though more than 12,000 valid signatures were gathered and Columbus City Council had unanimously passed an ordinance instructing the BOE to put the CCBOR on the ballot.
						</b>
					</p>
				</div>
				<div class="col-12 col-md-4">
					<img class="img-fluid" src="~/Content/assets/images/BOESupport.jpg" />
				</div>
				<div class="col-12 col-md-4">
					<img class="img-fluid" src="~/Content/assets/images/NotAnotherFlint.jpg" />
				</div>
				<div class="col-md-8 col-12">
					<p class="font-lato fs-20">
						<b>
							Columbus City Council approved the measure to advance to the ballot on July 30, 2018.  The BOE used HB 463 to justify their rejection a recent piece of legislation that takes direct aim at stopping Community Rights initiatives from advancing to the ballot, and goes against 104 years of precedent that protected citizen initiative from governmental interference.
						</b>
					</p>
					<p class="font-lato fs-20">
						<b>
							The citizen-led Columbus Community Bill of Rights restores Columbus citizens’ rights to protect their water, air and soil from frack waste in central Ohio.  WHY? Because we're all downstream.  Watch the video to learn more.
						</b>
					</p>
				</div>
				<div class="col-12 col-md-4">
					@Html.Partial("~/Views/HelpOut/Shared/_PayPalDonate.cshtml")
				</div>
				
				<div class="col-md-8 col-12">
					<div>
						<h3 class="text-danger">#NotAnotherFlint - Columbus, Ohio - We're All Downstream</h3>
					</div>
					@Html.Partial("~/Views/OurWork/Shared/_UpstreamVideo.cshtml")
				</div>
				<div class="col-12 text-center">
					<a href="https://drive.google.com/file/d/1dSso36wI8vv_2468WVhH5ZGAwtE0EPNp/view?usp=sharing" rel="nofollow" target="_blank" class="btn btn-default btn-lg mt-30">READ COMPLAINT</a>
					<a href="@Url.Action("BillOfRights","Resources")" rel="nofollow" class="btn btn-default btn-lg mt-30">READ BILL OF RIGHTS</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="alternate">
    <div class="container">
        <h2>
            Our Work
        </h2>
        @Html.Partial("~/Views/OurWork/Shared/_OurWorkOverview.cshtml")
        <p>
            <a href="@Url.Action("Index","OurWork")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>LEARN MORE</a>
        </p>
    </div>
</section>
<section class="theme-color">
    <div class="container">
        <h2>
            Resources
        </h2>
        <p>Learn more about our effort to ensure safe drinking water, clean air, and safe soil in the City of Columbus. </p>
        <p>
            <a href="@Url.Action("Index","Resources")" class="btn btn-3d btn-lg btn-white"><i class="glyphicon glyphicon-book"></i>LEARN MORE</a>
        </p>
    </div>
</section>
<section>
    <div class="container">
        <h2>
            Help Out
        </h2>
        <div class="callout alert alert-border alert-info b-0 mt-60 mb-60">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/assets/images/ccbor-help-out-01.jpg" />
                </div>
                <div class="col-md-8">
                    <div class="mt-10">
                        <p>
                            <strong>
                                JOIN US FOR OUR NEXT MEETING
                            </strong>
                        </p>
                    </div>
                    <div class="mt-10">
                        <p>
                            <strong>
                                We have organizing meetings most every week, on Monday evenings at 7:00pm.
                            </strong>
                        </p>
                    </div>
                    <div class="mt-10">
                        <p>
                            <strong>
                                If interested in attending or for more information, please contact <br />
                                <a href="mailto:info@columbusbillofrights.org">info@columbusbillofrights.org</a>
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <p>
            <a href="@Url.Action("Index","HelpOut")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>LEARN MORE</a>
        </p>
    </div>
</section>
<section class="alternate">
    <div class="container">
        <h2>
            Events
        </h2>
        <p>To learn more about upcoming events, visit our events page where you can sign up for petitioning, sign our petition, and learn more about our issue.</p>
        <p>
            <a href="@Url.Action("Index","Events")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>LEARN MORE</a>
        </p>
    </div>
</section>
@section scripts
{
    <script src="~/Content/assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Scripts/Custom/home.js"></script>
}