
@{
    ViewBag.Title = "Resources";
}

<section id="resources">
    <div class="container text-center">
        <h1 class="m-0 fs-50 fw-300 wow fadeInUp" data-wow-delay="0.4s">More On Our Issue</h1>
        <p class="lead font-lato fs-30 wow fadeInUp" data-wow-delay="0.7s">We are working hard to ensure safe drinking water, clean air, and safe soil in the City of Columbus.</p>
        <div class="mt-30">
            <a href="@Url.Action("Donate", "HelpOut")" class="btn btn-3d btn-lg btn-green"><i class="glyphicon glyphicon-piggy-bank"></i>DONATE NOW</a>
            <span class="fs-17 hidden-xs-down">&nbsp; AND &nbsp;</span>
            <a href="@Url.Action("Index", "HelpOut")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-user"></i>HELP OUT</a>
        </div>
    </div>
</section>
<section class="theme-color">
    <div class="container">
        <h2>
            Injection Wells in Our Watershed
        </h2>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <img class="img-fluid" src="~/Content/assets/images/Mosher4.JPG" />
            </div>
            <div class="col-xs-12 col-md-6">
                <p>
                    Ohio alone does not regulate radioactive frack waste drill cuttings.  Ohio imports frack waste from PA and WV to dump in Ohio injection wells and landfills.  Columbus Community Bill of Rights offers injection wells tours in the Scioto River watershed north of Columbus.  Contact us at <a ref="mailto:info@columbusbillofrights.org">info@columbusbillofrights.org</a> to find out about our next tour.
                </p>
                <p>
                    <a href="@Url.Action("InjectionWells","Resources")" class="btn btn-3d btn-lg btn-white"><i class="glyphicon glyphicon-book"></i>LEARN MORE</a>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="alternate">
    <div class="container">
        <h2>
            2017 Ohio EPA oil/gas production waste rules proposal
        </h2>
        <div class="row">
            <div class="col-md-12 col-sm-12 mb-30">

                <div>
                    <p>
                        The Ohio EPA is in the process of creating new rules to regulate the disposal of about 90% of solid wastes that result from the production of oil and gas (fracking).  These rules include criteria for monitoring of radioactive content levels in  solid wastes that are to be disposed of in Ohio's landfills.
                    </p>
                    <p>
                        Columbus Community Bill of Rights' contention has been that these wastes have radiation levels significantly above background.  Of particular concern are the presence and ongoing creation of water-soluble and bone-seeking radium-226, and radon gas - a leading cause of lung cancer.
                    </p>
                </div>
                <div>
                    <p>
                        <a href="@Url.Action("EPA","Resources")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>LEARN MORE</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="theme-color">
    <div class="container">
        <h2>
            Radioactive Waste Alert
        </h2>
        @Html.Partial("~/Views/Resources/Shared/_AlumCreekMap.cshtml")
        <p>The Ohio EPA (Environmental Protection Agency) recently approved a controversial permit to allow the processing and "reuse" of Radioactive Solid Frack Waste (drill/cuttings and sludge) at the Ohio Soil Recycling Co., located on the banks of Alum Creek, a Columbus Area watershed, next to the Alum Creek Greenway Bike Trail, 2.2 miles from Bexley, 5 miles from the Ohio State House, and upstream from the Alum Creek merge into the Scioto River. </p>
        <p>
            <a href="@Url.Action("RadioActiveWasteAlert","Resources")" class="btn btn-3d btn-lg btn-white"><i class="glyphicon glyphicon-book"></i>LEARN MORE</a>
        </p>
    </div>
</section>

@section scripts {
    <script src="~/Content/assets/js/env.js"></script>
    <script src="~/Content/assets/js/googlemap.js"></script>

}
