
@{
    ViewBag.Title = "RadioActiveWasteAlert";
}

<section class="page-header page-header-xlg parallax parallax-3"
         style="background-image:url('@Url.Content("~/Content/assets/images/15-min.jpg")')">
    <div class="overlay dark-4"></div>
    <div class="container">
        <h1>Radioactive Waste Alert</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("Index", "Resources")">Resources</a></li>
            <li class="active">Radioactive Waste Alert</li>
        </ol>
    </div>
</section>
<section>
    <div class="container">
        <h2>
            Columbus Concern
        </h2>
        @Html.Partial("Shared/_AlumCreekMap")
        <p>
            The Ohio EPA (Environmental Protection Agency) recently approved a <a href="@Url.Action("Resources", "EPA")"> controversial permit</a> to allow the processing and "reuse" of Radioactive Solid Frack Waste (drill/cuttings and sludge) at the Ohio Soil Recycling Co., located on the banks of Alum Creek, a Columbus Area watershed, next to the Alum Creek Greenway Bike Trail, 2.2 miles from Bexley, 5 miles from the Ohio State House, and upstream from the Alum Creek merge into the Scioto River.
        </p>
        <h2>
            All Landfills Leak
        </h2>
        <p>
            Toxic chemicals and radioactive elements leak from landfills into our rivers and streams through our ground water and can contaminate our water supply.  All landfills leak, some while the landfill is actively operating, but 100% of them will leak after a few decades.  In particular, Radium 226 is highly water soluble, and even if it is "diluted" with dirt, sawdust, or other elements to meet certain EPA requirments, it will make its way into our water supply.
        </p>
        <p>
            By classifying this waste as "Naturally Occuring" the state can allow this disposal without testing for radioactivity at the dump sites. The most prolific gas and oil production areas in underground shale are also the very "hottest" from the standpoint of radioactivity, because of the way in which gas and oil are formed.  Nearly all solid and liquid waste from Fracking contains levels of radiation, some of which can cause Public Health concerns.
        </p>
        <h2>
            Health Risks
        </h2>
        <p>
            There is abundant documentation of the correlation between the leaking of landfill toxins and radiation into air and water, and health problems.  Health risks include: low birth weight, birth defects, enlargement and liver abnormalities, and higher rates of cancer including panceatic cancer. Radium 226 is particularly linked with leukemia.
        </p>
        <h2>
            Beyond Columbus
        </h2>
        <p>
            Ohio has become the Radioactive Toxic Frack Waste Dump for all regional Frack Waste.  In addition to Ohio's waste, we are importing contaminated drill cuttings and liquid frack waste from Pennsylvania and West Virginia.  It is faster and cheaper to truck their waste into Ohio and dump it into our landfills, abandoned vertical oil wells and newly permitted injection wells, where this Radioactive Toxic Frack Waste can leak, migrate and contaminate Ohio's water supply.
        </p>
    </div>
</section>
<section class="theme-color">
    <div class="container">
        <h2>
            The document that convinced Governor Cuomo to Ban Fracking in New York
        </h2>
        <p>
            <img class="img-fluid" style="float: left;" src="~/Content/assets/images/CHPNY-logo-460px.png" />
            Here is the <a href="http://concernedhealthny.org/compendium/" target="_blank">most recent edition</a>  of the Compendium of Scientific, Medical, and Media Findings Demonstrating Risks and Harms of Fracking (Unconventional gas and oil extraction), published by the Concerned Health Professionals of New York. It is a fully referenced compilation of the evidence outlining the risks and harms of fracking.
        </p>
        <p>
            In their words: "We collected and compiled findings from three sources: articles from peer-reviewed medical or scientific journals; investigative reports by journalists; and reports from, or commissioned by, government agencies. Peer-reviewed articles were identified through databases such as PubMed and Web of Science, and from within the PSE Healthy Energy database. Our entries briefly describe studies that document harm, or risk of harm, associated with fracking and summarize the principal findings.
        </p>
        <p>
            "In our review of the data, seventeen compelling themes emerged; these serve as the organizational structure of the Compendium. Readers will notice the ongoing upsurge in reported problems and health impacts, making each section top-heavy with recent data.
        </p>
        <p>
            "The Compendium focuses on topics most closely related to the public health and safety impacts of unconventional gas and oil drilling and fracking. We also include in this edition a section on risks from fracking infrastructure that focuses on compressor stations, pipelines, silica sand mining operations, natural gas storage facilities, and, for the first time, the manufacture and transportation of liquefied natural gas (LNG)."
        </p>
    </div>
</section>
<section>
    <div class="container">
        <h2>
            What is Fracking?
        </h2>
        <p>
            Fracking, or hydraulic fracturing, is a controversial and highly toxic method of extracting natural gas from shale rock formations deep underground.
        </p>
        <p>
            Unlike conventional drilling, fracking involves massive amounts of water- up to 9 million gallons for each frack – combined with sand and fracking fluid containing over 500 chemicals.  Known chemicals in fracking fluid contain carcinogens such as benzene and toluene, many endocrine disruptors and known chemicals like mercury and diesel.  Even small amounts of these chemicals can contaminate water supplies.  The fracking industry is under regulated and does not have to disclose all of the chemicals used.
        </p>
        <h2>
            Frack Waste
        </h2>
        <p>
            The process of Fracking produces solid and liquid waste.  This liquid waste is laden with toxic chemicals and is radioactive from materials that occur naturally in the underground shale formations.
        </p>
        <p>
            Samples of Fracking Waste have contained levels of radiation over 3,600 times what experts say is safe for drinking water.  Fracking fluid can be released into the environment through waste disposal, leaks, spills and other accidents.  <a href="https://pubs.acs.org/doi/abs/10.1021/es402165b" target="_blank">A report</a> published on Oct 2, 2013 by Duke University tested <a href="https://www.theguardian.com/environment/2013/oct/02/dangerous-radioactivity-fracking-waste-pennsylvania" target="_blank">river waters in Pennsylvania</a> and found dangerous levels of radioactivity at a water treatment facility.  This report exposes the risks of disposing the escalating amount of fracking waste.
        </p>
        <p>
            Fracking also produces solid waste, such as drill cuttings, mud, dirt and used frack sand.  This waste can also be contaminated with radioactive material.  Frack waste from PA can contain high levels of Radium 226, which is prevalent in their Marcellus shale formation.  A truck <a href="https://www.forbes.com/sites/jeffmcmahon/2013/04/24/fracking-truck-sets-off-radiation-alarm-at-landfill/#54995e9036e3" target="_blank">was rejected from a PA landfill</a> after setting off radiation alarms.

            <h2>
                Ohio has become the region's Frack Waste Dumping Ground
            </h2>
        <p>
            In 2012, 14.2 Billion gallons of Frack Waste has been dumped into Ohio injection wells, over half of which is from other states.  Radioactive Frack waste in Ohio is also allowed to sit in open pits, be processed at local sewage plants, dumped into landfills and also spread onto roads as dust or ice control.  Injection wells in Youngstown, OH have been the <a href="http://www.cleveland.com/business/index.ssf/2012/03/shale_gas_drilling_caused_smal.html" target="_blank">cause of earthquakes in December, 2011.</a>
        </p>
        <p>
            Solid Frack Waste now poses a great threat to Ohio - this radioactive waste is already being accepted at Ohio landfills, including two in Columbus.  The state of Ohio has weakened the definition for radioactive waste, which is not consistent with US EPA’s definition.  Pennsylvania, with more radioactive fracking waste, complies with EPA standards and will not accept this waste into their landfills.  The Ohio Department of Natural Resources provides speedy permits and low costs for this <a href="http://www.truth-out.org/news/item/16751-will-ohio-be-frackings-radioactive-dumping-ground" target="_blank">great influx of radioactive Frack Waste</a> into Ohio.
        </p>
        <h2>
            Radiation – the Fracking Nightmare
        </h2>
        <p>
            <a href="https://www.ohio.com/akron/pages/report-says-drilling-is-creating-radiation-problems-in-ohio?index=5" target="_blank">A comprehensive report </a> released by radiation expert Dr. Marvin Resnikoff, in June 2013, outlines the serious dangers of radioactive frack waste in the state of Ohio and the impact to water supplies.
        </p>
        <p>
            “Even though fracking in Ohio is not yet occurring at intense levels as in other states, the state has been victim to the process especially because the state is making itself available as a dumping ground for the waste from other places, such as Pennsylvania and West Virginia,” he said. “Both liquid and solid fracking waste -- of radioactive nature -- is trucked across state lines to Ohio landfills and processed to take to wastewater treatment plants for disposal.”  The Marcellus shale in PA is one of the most radioactive of all of the nation's shales, containing high levels of Radium-226.
        </p>
        <p>
            Radioactive waste is classified into two categories: Naturally Occurring Radioactive Material, or NORM, and Technically Enhanced Radiacitve Material.  TENORM is NORM that has been technically enhanced through industrial practices.
        </p>
        <p>
            With the passage of the Ohio Budget bill in June of 2013, the state has changed the definition of TENORM, and does not consider drill cuttings or brine from fracking sites to be in this category or subject to testing for radiation.  This material can now be disposed of in any of Ohio's licensed municipal solid waste landfills.  Drilling muds - classified as “TENORM”- can also be disposed of in a solid waste landfill, if it contains less than five pico curries per gram of radioactive content.  If the material tests high - over the 5 pico curies - it can be mixed or “down blended” with soil, sawdust, or other material to dilute the radioactive material content for disposal.
        </p>
        <p>
            <b>
                Q:  Do all landfills in Ohio allow fracking waste now, or, are there designated landfills (that are equipped with meters to read the radioactive stuff) only allowed to receive the waste?

            </b>
        </p>
        <p>
            <b>A:</b> Theoretically all solid waste landfills could take drilling wastes, but not all of them do. I don't know of any solid waste landfill in Ohio that have stationary monitoring stations. Some have handheld pieces of equipment for monitoring.  However, while these systems are useful for medical wastes, which is why PA has the stationary monitors in the first place, both kinds are basically useless for determining the levels of radium in the cuttings because the equipment cannot take the types of measurements that need to be made to find out the levels in the waste stream.  That can only be done by taking samples, sealing them up in a jar for 21 days and then running the samples through a gamma spectrometer in a laboratory using Dept. Of Energy protocol.  Anything else will give far less accurate information and may even provide false negative information. Ohio is unequipped to take these materials at landfills.  It's a risk to worker and public health to use the systems that exist.  Our State government is acting irresponsibly about this topic.
        </p>
        <p>
            <i>Julie Weatherington-Rice, PhD, Geologist</i>
        </p>
    </div>
</section>

@section scripts {
    <script src="~/Content/assets/js/env.js"></script>
    <script src="~/Content/assets/js/googlemap.js"></script>

}


