
@{
    ViewBag.Title = "Media Gallery";
}

<section id="mediaGallery">
    <div class="container text-center">
        <h1 class="m-0 fs-50 fw-300 wow fadeInUp" data-wow-delay="0.4s">Media Gallery</h1>
        <p class="lead font-lato fs-30 wow fadeInUp" data-wow-delay="0.7s">Learn more about CCBOR with photos and videos</p>
        <div class="mt-30">
            <a href="@Url.Action("Donate", "HelpOut")" class="btn btn-3d btn-lg btn-green"><i class="glyphicon glyphicon-piggy-bank"></i>DONATE NOW</a>
            <span class="fs-17 hidden-xs-down">&nbsp; AND &nbsp;</span>
            <a href="@Url.Action("Volunteer", "HelpOut")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-user"></i>VOLUNTEER</a>
        </div>
    </div>
</section>
<section class="theme-color">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>
                    Video Gallery
                </h2>
            </div>
            <div class="col-12 col-sm-6">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item"  width="560" height="315" src="https://www.youtube.com/embed/wjPBFEpvQS0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
            </div>
            <div class="col-12 col-sm-6 mb-30">
                <h3>
                    Featured Video: Submitting over 18,500 Signatures for CCBOR
                </h3>
				<p>
					Columbus Ohio, Tuesday, June 26, 2018 <br />
					Over 18,500 Columbus Ohio Citizens' signatures turned in to support the Columbus Community Bill of Rights city of Columbus ordinance, to be on the November, 2018 ballot. Safe Water for Our Kids - Columbus - No Place for Frack Waste!
				</p>
            </div>
            <div class="col-12 mt-30">
                <p>Learn more about our issue by exploring our video gallery.</p>
                <p>
                    <a href="@Url.Action("VideoGallery","Media")" class="btn btn-3d btn-lg btn-white"><i class="glyphicon glyphicon-book"></i>SEE MORE</a>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="alternate">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>
                    Audio Gallery
                </h2>
                <p>Learn more about our issue by exploring our audio gallery.</p>
                <p>
                    <a href="@Url.Action("AudioGallery","Media")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>HEAR MORE</a>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="theme-color">
    <div class="container">
        <h2>
            Photo Gallery
        </h2>
        <div class="row">
            <div class="col-md-12 col-sm-12 mb-30">
				
					<div class="text-center">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<h3>
										CCBOR Ordinance Ballot Initiative turned in and certified for 12,134 VALID Columbus Signatures!!!
									</h3>
								</div>
								<div class="col-12 col-md-4">
									<img class="img-fluid" src="~/Content/assets/images/CCBORCityCouncil5.jpg" />
								</div>
								<div class="col-12 col-md-4">
									<img class="img-fluid" src="~/Content/assets/images/CCBOR City Council.jpg" />
								</div>
								<div class="col-12 col-md-4">
									<img class="img-fluid" src="~/Content/assets/images/CCBORCityCouncil6.jpg" />
								</div>
								<div class="col-12">
									<p class="font-lato fs-20 mt-30">
										Only 9,000 were required to put a Citizen-led city ordinance on the November, 2018, Columbus, Ohio Ballot
									</p>
									<p>
										We truly care about our environment.  Please visit our Help Out page to learn how you can help our effort.
									</p>
									<a href="@Url.Action("Volunteer","HelpOut")" rel="nofollow" class="btn btn-default btn-lg mt-30">VOLUNTEER</a>
									<a href="@Url.Action("BillOfRights","Resources")" rel="nofollow" class="btn btn-default btn-lg mt-30">READ BILL OF RIGHTS</a>
								</div>
							</div>

						</div>
					</div>
			
            </div>
        </div>
    </div>
</section>
