
@{
    ViewBag.Title = "PhotoGallery";
}

<section class="page-header page-header-xlg parallax parallax-3"
         style="background-image:url('@Url.Content("~/Content/assets/images/15-min.jpg")')">
    <div class="overlay dark-4"></div>
    <div class="container">
        <h1>PHOTO GALLERY</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li><a href="@Url.Action("Index","Media")">Media</a></li>
            <li class="active">Photo Gallery</li>
        </ol>
    </div>
</section>
<section class="alert-info">
	<div class="text-center">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3>
						CCBOR Ordinance Ballot Initiative turned in and certified for 12,134 VALID Columbus Signatures!!!
					</h3>
				</div>
				<div class="col-12 col-md-4">
					<img class="img-fluid" src="~/Content/assets/images/CCBORCityCouncil5.jpg" />
				</div>
				<div class="col-12 col-md-4">
					<img class="img-fluid" src="~/Content/assets/images/CCBOR City Council.jpg" />
				</div>
				<div class="col-12 col-md-4">
					<img class="img-fluid" src="~/Content/assets/images/CCBORCityCouncil6.jpg" />
				</div>
				<div class="col-12">
					<p class="font-lato fs-20 mt-30">
						Only 9,000 were required to put a Citizen-led city ordinance on the November, 2018, Columbus, Ohio Ballot
					</p>
					<p>
						We truly care about our environment.  Please visit our Help Out page to learn how you can help our effort.
					</p>
					<a href="@Url.Action("Volunteer","HelpOut")" rel="nofollow" class="btn btn-default btn-lg mt-30">VOLUNTEER</a>
					<a href="@Url.Action("BillOfRights","Resources")" rel="nofollow" class="btn btn-default btn-lg mt-30">READ BILL OF RIGHTS</a>
				</div>
			</div>

		</div>
	</div>
</section>