
@{
    ViewBag.Title = "Video Gallery";
}

<section class="page-header page-header-xlg parallax parallax-3"
         style="background-image:url('@Url.Content("~/Content/assets/images/15-min.jpg")')">
    <div class="overlay dark-4"></div>
    <div class="container">
        <h1>VIDEO GALLERY</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li><a href="@Url.Action("Index","Media")">Media</a></li>
            <li class="active">Video Gallery</li>
        </ol>
    </div>
</section>
<section class="alert-info">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h3>Columbus City Council Announces 12,134 valid signatures collected for the Columbus Community Bill of Rights</h3>
				<p>
					Columbus, Ohio, July 9, 2018
				</p>
			</div>
			<div class="col-12 col-md-6">				
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/BlDNFmMcHww" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
				<p>
					12,134 valid signatures announced for the Columbus City ordinance to get the Columbus Community Bill of Rights on the November 2018 ballot- well more than the 9,000 required.
				</p>
				<p>
					Safe Water for Our Kids - Columbus - No Place for Frack Waste!
				</p>
			</div>
			<div class="col-12 col-md-6">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/DW-P5De3L9w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
				<p>Bill Lyons speaks to the Columbus City Council about our community's support for the Columbus Community Bill of Rights</p>
				<p>Read Bill's full speech <a href="https://docs.google.com/document/d/1-OPrIzFk1tdij58d7eRp2dNZQcf1FwCk9ptgJFbvyPM/edit?usp=sharing" target="_blank">here</a>.</p>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="row">
					<div class="col-12 col-md-6">
						<h3>Submitting over 18,500 signatures for CCBOR</h3>
						<p>
							Columbus, Ohio, June 26, 2018 
						</p>
						<p>
							Over 18,500 Columbus Ohio Citizens' signatures were turned in to the Franklin County Board of Elections in support of the Columbus Community Bill of Rights City of Columbus ordinance, to be on the November, 2018 ballot. Safe Water for Our Kids - Columbus - No Place for Frack Waste!
						</p>
					</div>
					<div class="col-12 col-md-6">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/wjPBFEpvQS0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						<p>Speaker: Carolyn Harding</p>
					</div>
					<div class="col-12 col-md-6">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/TfevdJWqaoM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						<p>Speaker: Sandy Bolzenius</p>
					</div>
					<div class="col-12 col-md-6">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/BEsoiu_GBOM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						<p>Speaker: Bill Lyons</p>
					</div>
					<div class="col-12 col-md-6">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/jkO5KqF6rQc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						<p>Speaker: Greg Pace</p>
					</div>
					<div class="col-12 col-md-6">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/_uXOBTeytyI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						<p>Speaker: Bob Krasen</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="alert-info">
    <div class="container">
        <div class="row">
            <div class="col-12">
				<div class="row">
					<div class="col-12 col-sm-6">
						<h3>
							Protest of Jon Husted 9/2/15
							Columbus Ohio
						</h3>
						<p>
							In front of The Athletic Club
							where Husted was speaking
						</p>
					</div>
					<div class="col-12 col-sm-6">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/_HpLOCBFl9E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
</section>
<section class="alert-info">
    <div class="container">
        <div class="col-12">
			<div class="row">
				<div class="col-12 col-sm-6">
					<h3>
						Skype presentation and interview with Mark Z. Jacobson, PhD
					</h3>
					<p>April 27, 2015</p>
					<p>
						Mark Z. Jacobson, Professor of Civil and Environmental Engineering; Director, Atmosphere/Energy Program; Senior Fellow, Woods Institute for the Environment; Senior Fellow, Precourt Institute for Energy; and cofounder of <a href="http://thesolutionsproject.org/" target="_blank">The Solutions Project</a>, discusses how it is possible to change the energy infrastructure of the 50 United States from fossil fuels to wind, water and sunlight. This presentation covers technical and economic plans including resource availability, job creation, energy costs, environmental and climate savings, and methods of ensuring reliability of the grid.
					</p>
				</div>
				<div class="col-12 col-sm-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/sd_-6onmDCA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
					<p>
						The US Can Transition to 100% Clean,
						Renewable Energy - Starting Today
					</p>
				</div>
			</div>
        </div>
    </div>
</section>
<section >
    <div class="container">
        <div class="col-12">
			<div class="row">
				<div class="col-12 col-sm-6">
					<h3>
						Tish O’Dell, <a href="www.celdf.org" target="_blank">Community Environmental Legal Defense Fund</a>
					</h3>
					<p>February 23, 2015</p>
					<p>
						Ohio organizer; Co-founder of MADION (Mothers Against Drilling in Our Neighborhoods), 2012 successfully passed Bill of Rights in the City of Broadview Heights, OH
					</p>
				</div>
				<div class="col-12 col-sm-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/vxSPoCBJZDw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
				</div>
			</div>
        </div>
    </div>
</section>
<section class="alert-info">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-6">
				<h3>
					Julie Weatherington-Rice, PhD, Geologist, hydrogeologist & soil scientist
				</h3>
				<p>
					January 26,  2015
				</p>
				<p>
					ALEC and the Oil & Gas Industry v. Source Water Protection & Home Rule in Ohio: <br />
					How we got where we are, and what we can do about it.
				</p>
			</div>
			<div class="col-12 col-sm-6">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/ASapAPtB0ww" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="alert-info">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6">
				<h3>We're All Downstream</h3>
				<p>This video shows the Columbus Area watershed and how the 13+ toxic frack waste injection wells have access to the Columbus, Ohio Water supply. We are All Downstream! Sign the Petition to protect Columbus Water, Air, Soil and Our Community's Right to do so. Find locations to sign on our <a href="@Url.Action("Index", "Events")">events page</a>.  Help us get the 9,000 signatures needed to put this on the November 2018 ballot!</p>
			</div>
			<div class="col-12 col-md-6">
				@Html.Partial("~/Views/OurWork/Shared/_UpstreamVideo.cshtml")
			</div>
		</div>
	</div>
</section>

