@{
    ViewBag.Title = "Help Out The Columbus Community Bill of Rights";
}
<section id="helpOut">
    <div class="container text-center">
        <h1 class="m-0 fs-50 fw-300 wow fadeInUp" data-wow-delay="0.4s">Help Out</h1>
        <p class="lead font-lato fs-30 wow fadeInUp" data-wow-delay="0.7s">
            We need your inspiration to help us with our 2018 ballot initiative!<br />
            Join us as we train volunteers to circulate our petition.
        </p>
        <div class="mt-30">
            <a href="@Url.Action("Donate","HelpOut")" class="btn btn-3d btn-lg btn-green"><i class="glyphicon glyphicon-piggy-bank"></i>DONATE NOW</a>
            <span class="fs-17 hidden-xs-down">&nbsp; AND &nbsp;</span>
            <a href="@Url.Action("Volunteer","HelpOut")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-user"></i>VOLUNTEER</a>
        </div>
    </div>
</section>
<div class="container mt-20">
    <h2>Help Out The Columbus Community Bill of Rights</h2>
    <div class="callout alert alert-border alert-info b-0 mt-60 mb-60">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" src="~/Content/assets/images/ccbor-help-out-01.jpg" />
            </div>
            <div class="col-md-8">
                <div class="mt-10">
                    <p>
                        <strong>
                            JOIN US FOR OUR NEXT MEETING <br />
                            on Monday, May 21st, 2018 at 7:00pm.
                        </strong>
                    </p>
                </div>
                <div class="mt-10">
                    <p>
                        <strong>
                            We have organizing meetings most every week, on Monday evenings at 7:00pm.
                        </strong>
                    </p>
                </div>
                <div class="mt-10">
                    <p>
                        <strong>
                            If interested in attending or for more information, please contact <br />
                            <a href="mailto:info@columbusbillofrights.org">info@columbusbillofrights.org</a>
                        </strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="theme-color">
    <div class="container">
        <h2>Volunteer</h2>
        <div class="row">
            <div class="col-12">
                <p>
                    Thank you for helping with our effort here at Columbus Community Bill of Rights. Help us to get our initiatives on the ballot in central Ohio by donating your time and effort to gather signatures from your fellow community-members!!
                </p>
                <p>
                    <a href="@Url.Action("Volunteer","HelpOut")" class="btn btn-3d btn-lg btn-white"><i class="glyphicon glyphicon-book"></i>VOLUNTEER</a>
                </p>

            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h2>Donate</h2>
        <div class="row">
            <div class="col-12">
                <p>
                    If you have financial resources to spare, please donate to our effort.
                </p>
                @Html.Partial("~/Views/HelpOut/Shared/_PayPalDonate.cshtml")
            </div>
        </div>
    </div>
</section>
@Html.Partial("~/Views/HelpOut/Shared/_VolunteerAtComFest.cshtml")