@{
    ViewBag.Title = "Volunteer at The Columbus Community Bill of Rights";
}
<section class="page-header page-header-xlg parallax parallax-3"
         style="background-image:url('@Url.Content("~/Content/assets/images/15-min.jpg")')">
    <div class="overlay dark-4"></div>
    <div class="container">
        <h1>Volunteer</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li><a href="@Url.Action("Index","HelpOut")">Help Out</a></li>
            <li class="active">Volunteer</li>
        </ol>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Sign Our Petition</h2>
                <div class="row">
                    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                        <a href="@Url.Action("Apparel","HelpOut")"><img class="img-fluid" src="~/Content/assets/images/CCBOR-T-Shirt.jpg" /></a>
                    </div>
                    <div class="col-12 col-sm-8 col-md-9 col-lg-10">
                        <p>We wish you could sign an online petition, but the Franklin County Board of Elections rules are that you must sign a hard copy petition.</p>
                        <p>To find us and sign our petition, check out our <a href="@Url.Action("Index","Events")">upcoming events</a>.  Look for our brightly-colored CCBOR sun t-shirts on volunteeers!  And at <a href="https://www.comfest.com/?" target="_blank">Comfest</a> we have a dedicated booth for signing the petition.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
	<div class="container">
		<h2>Volunteering & Outreach Resources</h2>
		<h4>Free Training Provided!</h4>
		<div class="row">
			<div class="col-12">
				<p>
					Thank you for helping with our effort here at Columbus Community Bill of Rights.  If you are new at petitioning with us and have not been briefed or trained, please <a href="mailto:info@columbusbillofrights.org">contact us</a> to schedule a time that we can do this.
				</p>
				<p>We will train you with all you need to know in order to petition!  You can also gather signatures on a team with an experienced petitioner. </p>
				@*<p>
					We see no better way to protect our ability to demonstrate self-governance than through putting citizen-based initiatives, such as our community bills of rights, on the ballot for the public to vote on.  It takes a committed group who are willing to stretch their comfort zones and get out amongst people to bring an opportunity like this for democratic self-governance into our community's minds.
				</p>
				<p>
					A democratic society only achieves a stable balance when all community stakeholders are allowed meaningful input into the governance of our own community.  We live in a time where many are beginning to realize that participatory representative democracy will remain a reality, IF AND ONLY IF We The People extend ourselves to enact and refresh it against the forces of those who have been usurping control for their own self-interests.
				</p>
				<p>
					Help us all fortify our resolve to ensure that our children will have a political, social, and economic democracy to live their lives within.  Help us to ensure that our descendants will have real and meaningful protections for their families' health and enjoyment in their own home and community.
				</p>*@
				<p>
					Help us to get our initiative on the ballot in central Ohio by donating your time and effort to gather signatures from your fellow community-members!!
				</p>
				<p>
					If you have financial resources to spare, please donate to our effort.
				</p>
				@Html.Partial("~/Views/HelpOut/Shared/_PayPalDonate.cshtml")
			</div>
		</div>
		<div class="mt-20">
			<div class="alert alert-bordered mb-30">
				<div class="row">
					<div class="col-md-8">
						<h3><strong>Petitioner Resources</strong></h3>
						<h4>Free Training Provided!</h4>
						<p>
							Visit our <a href="@Url.Action("Index", "Events")">events page</a> for our upcoming opportunities to circulate petitions, sign our petition, and learn more about our issue. Or, visit our <a href="https://www.facebook.com/ColumbusBillofRights/" target="_blank">Columbus Bill of Rights Facebook Page</a> to learn more.  If you are new at petitioning with us and have not been briefed or trained, please <a href="mailto:info@columbusbillofrights.org">contact us</a> to schedule a time that we can do this.
						</p>
						<p>
							<a href="https://docs.google.com/document/d/1wYaf9vIt6-evEVTa6C4SasfOIO45ADCs5HmWm0xXpkQ/edit?usp=sharing" target="_blank"><i class="ico-light ico-bordered ico-lg ico-hover fa far fa-file"></i></a>
							Handout for CCBOR Petitioners
						</p>
						<p>
							<a href="https://docs.google.com/document/d/10wRqXK_VI_yEABtl--RmzXZRFb49i23uA_-X5Y5NNIg/edit?usp=sharing" target="_blank"><i class="ico-light ico-bordered ico-lg ico-hover fa far fa-file"></i></a>
							Guidelines for CCBOR Petitioners
						</p>
						<p>
							<a href="https://docs.google.com/document/d/1SwPhE_hxxgc05Pqqju8UF38_rSOWV7fLf4tKwLcelc0/edit?usp=sharing" target="_blank"><i class="ico-light ico-bordered ico-lg ico-hover fa far fa-file"></i></a>
							Franklin County Board Of Elections Petition Signature Validation
						</p>
						<p>
							<a href="https://drive.google.com/file/d/1hOxAG2oJ1I0LwWvoQWCbNphNSNCZsjOt/view?usp=sharing" target="_blank"><i class="ico-light ico-bordered ico-lg ico-hover fa far fa-file"></i></a>
							Columbus Metropolitan Library Petition Rules
						</p>
					</div>
					<div class="col-md-4">
						<img src="~/Content/assets/images/Volunteer-004.jpg" />
					</div>
					<div class="col-12">
						<p>
							If you want to help with petitioning, please contact us at: <a href="mailto:info@columbusbillofrights.org">info@columbusbillofrights.org</a>. We will get right back with you to get you started.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="theme-color">
    <div class="container">
        <h2>Guidelines for CCBOR Petitioners</h2>
        <ul>
            <li>A circulator must be a U.S. citizen, a registered voter, and at least 18 years old.</li>
            <li>A circulator cannot have a felony conviction for which s/he is still on probation.</li>
            <li>Voter registration forms must be submitted within 10 days.</li>
            <li>Each signature Must be witnessed by the circulator.</li>
            <li>Circulators CANNOT sign their own petitions.</li>
        </ul>
        <ol>
            <li>
                <b>Print</b> your name on back of form prior to collecting signatures. Do not share petitions. Only you may collect signatures on yours.</li>
            <li>
                Carry pens. Signatures must be in <b>black or blue ink.</b>
            </li>
            <li>
                <b>Ensure potential signers are registered Columbus voters. </b>(Helpful rule of thumb: People who may vote for the Columbus mayor are registered in Columbus.) <br /> <i>Note: </i>If signature is invalid, do not cross out the line. Leave it for the BOE to decide.
            </li>
            <li>
                Remind signers that signatures must match their <b>official Board of Elections signatures.</b>
            </li>
            <li>
                Before signers walk away, <b>check for completion and legibility of space. </b><br />
                <i>Note: </i> Other than the signature, you may fill out other blocks (i.e., address, date).
            </li>
            <li>
                After collecting signatures, fill in the “valid signatures” space with the <b>highest possible number</b> of valid signatures on the form. (Reason: If the petitioner enters a number that is LESS THAN the number of valid signatures, the Board of Elections will discard the entire form.
            </li>
        </ol>
    </div>
</section>
@Html.Partial("~/Views/HelpOut/Shared/_VolunteerAtComFest.cshtml")
<section class="theme-color">
    <div class="container">
        <h2>Organizing Meetings</h2>
        <p>
            <a href="https://docs.google.com/document/d/1Za1ZkDL8MVsYU6HaiSxCLMSAf_6S3SUopozp8ziRiOE/edit?usp=sharing" target="_blank"><i class="ico-color ico-bordered ico-lg ico-hover fa far fa-file"></i></a>
            Organizing meetings notes (password protected)
        </p>
    </div>
</section>
